# Touchez à ses 2 lignes uniquement si vous hébergez votre serveur sur un hébergeur !
endpoint_add_tcp "0.0.0.0:30113"
endpoint_add_udp "0.0.0.0:30113"

set sv_enforceGameBuild tuner

# Ligne de liaison avec la BDD (base de données) 
set es_enableCustomData 1 
set mysql_slow_query_warning 5000
set mysql_connection_string "server=IP DU SERV;database=DATABASE;userid=USERNAME;password=MDP"


exec resources.cfg # Ne touchez pas à cela ça permet d'exécuter le fichier ou sont démarrer TOUTES vos ressources


# Ne pas toucher si vous ne savez pas les utiliser
sv_scriptHookAllowed 0
#rcon_password ""
#sv_master1 ""


# Configurez les tags de votre serveur | Exemple : ropleplay, fr, france, lspd, ems...
sets tags "default"


# Configurez la langue de votre serveur (Défaut : Français)
sets locale "fr-FR" 


# Enlever le # sur les 2 lignes ci-dessous puis mettez le lien des images que vous souhaitez intégrer sur la page de votre Serveur !
# sets banner_detail "https://url.to/image.png"
# sets banner_connecting "https://url.to/image.png"


# Enlever le # sur la ligne ci-dessous puis mettez le nom de votre logo
# load_server_icon myLogo.png


# Mettez le nom de votre serveur entre les guillements ci-dessous
sv_hostname "XYA 🌙  |  DEV"


# Système admin (NE RIEN SUPPRIMER)
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow

# OneSync désativé = off / OneSync activé = on
set onesync on

sv_maxclients 64

# Mettez entre les guillemets votre clef Steam API ! Retrouvez là ici : https://steamcommunity.com/dev/apikey
set steam_webApiKey BD603FF55B661F5B21101A6B62C2B90F

# Mettez ici une clef de license FiveM ! Retrouvez là ici : https://keymaster.fivem.net
sv_licenseKey a8my70ve0115ujgbfocrwwgubu86o5l1 # 64 slots Merci SeiHost                        